{% extends 'shared/master.html' %}
{% load render_partial %}
{% load static %}
{% block title %}لیست محصولات{% endblock %}
{% block content %}

		<div class="container">
			<div class="row">

				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">برند محصولات</h2>
                        {% for brand in brands %}
                            <div class="single-blog-post">
							<h3>{{ brand.titleEN }}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i>کاربر مدیر</li>
									<li><i class="fa fa-clock-o"></i>{{ brand.createJalalitime }}</li>
									<li><i class="fa fa-calendar"></i>{{ brand.createJalalidate }}</li>
								</ul>
							</div>
							<a href="{% url 'brand-detail-page' pk=brand.id %}">
								<img src="{{ brand.image.url }}" alt="{{ brand.titleEN }}">
							</a>
							<p>{{ brand.shortDescription }}</p>
							<a class="btn btn-primary" href="{% url 'brand-detail-page' pk=brand.id %}">ادامـه مطلب</a>
						</div>
                        {% endfor %}



						<ul class="pagination pull-left">
                         {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                        {% endif %}
                            {% for pageNumber in paginator.page_range %}
                                <li class="{% if page_obj.number == pageNumber %} active {% endif %}">
                                    <a href="?page={{ pageNumber }}">
                                        {{ pageNumber }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                        {% endif %}
						</ul>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">
                        {% render_partial 'productionsApp.views.categories_productions_partial' %}
                    </div>
                </div>
						<div class="brands_products"><!--brands_products-->
							<h2>برنـد ها</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href=""> <span class="pull-left">(50)</span>برنـد 1</a></li>
									<li><a href=""> <span class="pull-left">(56)</span>برنـد 2</a></li>
									<li><a href=""> <span class="pull-left">(27)</span>برنـد 3</a></li>
									<li><a href=""> <span class="pull-left">(32)</span>برنـد 4</a></li>
									<li><a href=""> <span class="pull-left">(5)</span>برنـد 5</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->

						<div class="shipping text-center"><!--shipping-->
							<img src="/static/images/home/shipping.jpg" alt="">
						</div><!--/shipping-->

					</div>
				</div>

			</div>
		</div>

{% endblock %}