{% extends 'shared/master.html' %}
{% load render_partial %}
{% block title %}تغییر کلمه عبور{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'userPanelApp.views.panelPartial' %}
            </div>
            <div class="col-md-8">
                {% if form.errors %}
                    {% for field in form.fields %}
                        {% for error in field.error %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}

                    {% endfor %}

                {% endif %}
                 <form action="{% url 'change-password-page' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                     <button type="submit" style="margin: 20px 5px; padding: 10px 20px;" class="btn btn-success pull-left">ثبت</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}