{% extends 'shared/master.html' %}
{% load poll_extras %}
{% load thumbnail %}
{% load static %}
{% block title %}فروشگاه مرکزی{% endblock %}
{% block content %}
  <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                          {% for slider in sliders %}
                         <li class="{% if forloop.first %} active {% endif %}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for slider in sliders %}
                                <div class="item {% if forloop.first %} active {% endif %}">
                                    <div class="col-sm-6">
                                        <h2>{{ slider.title }}</h2>
                                        <p>{{ slider.description }}</p>
                                        <a href="{{ slider.url }}"
                                           target="_blank"
                                           class="btn btn-default get">{{ slider.url_title }}</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="{{ slider.image.url }}" class="girl img-responsive" width="500"
                                             alt="{{ slider.title }}" id="{{ slider.titleEN }}"/>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--/slider-->
    <section>
        <div class="container">
            <div class="row">
                <div class="recommended_items"><!--NewProduct_items-->
                    <h2 class="title text-center">جدیدترین محصولات</h2>
                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for group in latest_products %}
                                <div class="item {% if forloop.first %} active {% endif %}">
                                    {% for product in group %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        {% thumbnail product.image "268x250" as im %}
                                                            <img src="{{ im.url }}">
                                                        {% endthumbnail %}
                                                        <h2>{{ product.price | three_digits_currency }}</h2>
                                                        <p>{{ product.title }}</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>افزودن به سبـد خرید</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/NewProduct_items-->
            </div>
        </div>
    </section>
{% endblock %}