{% extends 'shared/master.html' %}
{% load static %}

{% block title %}حقوق سایت{% endblock %}

{% block content %}

    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">در ارتباط با حقوق سایت</h2>

                        <div class="alert alert-warning text-center">
                            <h3>
                                {{ settings.siteCopyRight }}
                            </h3>
                        </div>
                        <div class="alert text-center">
                            <h4>
                                {{ settings.siteRights }}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">اطلاعات سایت</h2>
                        <address>
                            <h1 style="color:darkorange">{{ settings.siteEnglishName }}</h1>
                            <h2>{{ settings.siteName }}</h2>
                            <h3>تلفن تماس :   {{ settings.sitePhone }} </h3>
                            <h3>فکس :  {{ settings.siteFax }} </h3>
                            <h3 style="font-family: tahoma,serif;">ایمیـل : {{ settings.siteEmail }}</h3>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}