{% extends 'shared/master.html' %}
{% load static %}

{% block title %}نتیجه ارسال پیام شما{% endblock %}

{% block content %}
    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">با ما در ارتباط باشیـد</h2>
                        {% if pm %}
                            <div class="alert alert-danger">
                                <h1 class="title text-center">راه ارتباطی</h1>
                                <h4>{{ pm }}</h4>
                                <br>
                                <div class="text-center" style="font-size: larger">
                                    <a href="{% url 'register-page' %}" >ثبت نام در سایت</a>
                                    <br>
                                    <a href="{% url 'login-page' %}" >ورود به سایت</a>
                                </div>
                            </div>
                        {% endif %}
                        {% if sendit %}
                            <div class="alert alert-success">
                                <h1 class="title text-center">راه ارتباطی</h1>
                                <h4>{{ sendit }}</h4>
                                <br>
                                <div class="text-center" style="font-size: larger">
                                    <a href="#">برگشت به صفحه اصلی</a>
                                    <br>
                                    <a href="{% url 'contact-us-page' %}">ارسال پیام جدید</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">اطلاعات تماس</h2>
                        <address>
                            <h1 style="color:darkorange">{{ siteSettings.siteEnglishName }}</h1>
                            <h2>{{ siteSettings.siteName }}</h2>
                            <h3>تلفن تماس :   {{ siteSettings.sitePhone }} </h3>
                            <h3>فکس :  {{ siteSettings.siteFax }} </h3>
                            <h3 style="font-family: tahoma,serif;">ایمیـل : {{ siteSettings.siteEmail }}</h3>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}