<h2>دسته بندی محصولات</h2>
<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
 {% for main_category in main_categories %}
   <div class="panel panel-default">
        <div class="panel-heading">
			<h4 class="panel-title">
                {% if main_category.productscategory_set.all %}
                    <a data-toggle="collapse" data-parent="#accordian" href="#{{ main_category.titleEN }}">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    {{ main_category.title }}
                    </a>
            {% else %}
                <a href="">
                    {{ main_category.title }}
                </a>
                {% endif %}

            </h4>
        </div>
     {% if main_category.productscategory_set.all %}
            <div id="{{ main_category.titleEN }}" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    {% for sub_main_category in main_category.productscategory_set.all %}
                    <li><a href="">{{ sub_main_category }}</a></li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>

     {% endif %}
    </div>
 {% endfor %}